.DS_Store
/.idea

/bitrix
!/bitrix/.settings.php
!/bitrix/php_interface
!/bitrix/php_interface/*
!/bitrix/templates/main
!/bitrix/templates/main/*
!/bitrix/templates/main/**/*
/images
/upload

*.tar
*.tar.*
*.tmp
*.bak
*.log
*log*.txt
.lock
