        <!-- start display roundabout description and links -->
        <div class="boxed-harder clearfix roundaboutdescription roundabout-desclinkbox">
            <div class="fl roundabout-arrows">

                <img src="images/arrow-next-smaller.png" alt="" />
            </div>
            <div class="fl roundabout-desc"><h1 id="roundaboutdescription"></h1></div>
            <div class="fr roundabout-link clearfix"><div id="roundaboutlinkone" class="fl"></div><div id="roundaboutlinktwo" class="fl"></div></div>
        </div>
        <!-- end display roundabout description and links -->

        <div class="full-width clearfix">
            <div class="one-third pt10 border-vert-right-alt">

                <div class="padright">
                <div class="icon-to-left"><img src="images/icons/icon-monitor.png" width="60" height="60" alt="" /></div>
                <h2>Urna eu frin enatist incidunt nulla</h2>
                <div class="clear"></div>
                <p class="height-limit1">Curabitur placerat,  orci na eu fringilla orci mi placerat, urna eu <b>orci mi stincidunt</b> nulla incidunt orci mi placerat, urna eu <a href="#">frin enatist</a> incidunt nulla, vitae iaculis augue</p>

                <div class="fl clearfix"><a class="btn-small" href="http://themeforest.net/user/bogdanspn/portfolio?ref=bogdanspn"><span>Get This Template</span></a></div>
                </div>
            </div>
            <div class="one-third pt10 border-vert-right-alt">
                <div class="padright">
                <div class="icon-to-left"><img src="images/icons/icon-zoom.png" width="60" height="60" alt="" /></div>
                <h2>Urna eu frin enatist incidunt nulla</h2>
                <div class="clear"></div>

                <p class="height-limit1">Curabitur placerat,  <b>orci mi ingilla</b> orci mi placerat, urna eu orci mi stincidunt nulla incidunt orci mi placerat, urna eu frin enatist incidunt nulla, vitae <a href="#">iaculis augue</a></p>
                <div class="fl clearfix"><a class="btn-small" href="http://themeforest.net/user/bogdanspn/portfolio?ref=bogdanspn"><span>Get This Template</span></a></div>
                </div>
            </div>
            <div class="one-third-last pt10">
                <div class="padright">

                <div class="icon-to-left"><img src="images/icons/icon-tool.png" width="60" height="60" alt="" /></div>
                <h2>Urna eu frin enatist incidunt nulla</h2>
                <div class="clear"></div>
                <p class="height-limit1">Curabitur placerat,  orci eu fringilla orci mi placerat, urna eu orci mi stincidunt nulla <a href="#">incidunt orci</a> mi placerat, urna <b>eu frin enatist</b> incidunt nulla, vitae iaculis augue</p>
                <div class="fl clearfix"><a class="btn-small" href="http://themeforest.net/user/bogdanspn/portfolio?ref=bogdanspn"><span>Get This Template</span></a></div>

                </div>
            </div>
        </div>

        <div class="wide-horz-divider"><!--  --></div>

        <div class="full-width clearfix pt0">
               <div class="one-fourth pt20">
                 <h3>Lorem Misum</h3>

                 <div class="image"><img src="images/thumb206x115-1.jpg" width="210" height="115" alt="" /></div>
                 <div class="text height-limit3">Curabitur placerat,  orci mi stincidunt nullaurna <a href="#">eu fringilla venenatis</a>, orci mi placerat, urna eu fringilla venenatist orci mi stincidunt nulla incidunt orci mi placerat, urna eu frin enatist incidunt nulla, vitae iaculis augue</div>
                 <div class="text-button"><a href="#">Learn More</a> <img src="images/arrow.jpg" width="6" height="7" alt="" class="vm"/></div>
              </div>
              <div class="one-fourth pt20">
                 <h3>Dorem Milus Mer</h3>

                 <div class="image"><img src="images/thumb206x115-2.jpg" width="210" height="115" alt="" /></div>
                 <div class="text height-limit3">Curabitur placerat,  orci mi stincidunt nullaurna eu fringilla venenatis, orci mi placerat, urna eu fringilla venenatist orci <a href="#">mi stincidunt</a> nulla incidunt orci mi placerat, urna eu frin enatist incidunt nulla, vitae iaculis augue</div>
                 <div class="text-button"><a href="#">Learn More</a> <img src="images/arrow.jpg" width="6" height="7" alt="" class="vm"/></div>
              </div>
              <div class="one-fourth pt20">
                 <h3>Mis Lorem Misum</h3>

                 <div class="image"><img src="images/thumb206x115-3.jpg" width="210" height="115" alt="" /></div>
                 <div class="text height-limit3">Curabitur placerat,  orci mi stincidunt nullaurna eu fringilla venenatis, orci mi placerat, urna eu fringilla venenatist orci mi stincidunt nulla incidunt orci mi placerat, urna <a href="#">eu frin enatist</a> incidunt nulla, vitae iaculis augue</div>
                 <div class="text-button"><a href="#">Learn More</a> <img src="images/arrow.jpg" width="6" height="7" alt="" class="vm"/></div>
              </div>
              <div class="one-fourth-last border-vert-left pt20">
                  <div class="pad">

                  <h3>Orci mi stincidunt</h3>
                  <ul class="pack-list">
                      <li><a href="#">Urna eu frin</a></li>
                      <li><a href="#">Witae iaculis augue</a></li>
                      <li><a href="#">Erci mi placerat</a></li>
                      <li><a href="#">Stincidunt nullaurna</a></li>

                      <li><a href="#">Erna eu fringilla</a></li>
                      <li><a href="#">Wulla incidunt</a></li>
                      <li><a href="#">Frin enatist</a></li>
                      <li><a href="#">Medi-Spas</a></li>
                      <li><a href="#">Rrci mi placerat</a></li>
                      <li class="last"><a href="#">Enatist incidunt nulla</a></li>

                  </ul>
                  </div>
              </div>
        </div>

        <div class="wide-horz-divider"><!--  --></div>

        <div class="full-width">
              <div class="two-third"><h2 class="mb0">Orci eu fringilla orci mi placerat, urna eu orci mi stincidunt nulla incidunt orci mi placerat.</h2></div>

              <div class="one-third-last"><a class="btn-medium" href="#"><span><img src="images/icons/icon-pdf.png" width="24" height="24" alt="" class="vm" />Download PDF Presentation</span></a></div>
              <div class="clear"></div>
        </div>